$primary-color: #ff9933;

$secondary-color: #138808;

$color-orange: #ff9933;

$color-yellow: #ffba3b;
$color-yellow-foreground: #fff8e1;

$color-light-yellow: #fffde7;

$color-neutral--1: #ffffff;
$color-neutral--2: #fafafa;
$color-neutral--3: #f2f2f2;
$color-neutral--4: #e0e0e0;
$color-neutral--5: #b3b3b3;
$color-neutral--6: #8b8b8b;
$color-neutral--7: #595959;
$color-neutral--8: #454545;
$color-neutral--9: #212121;

$color-success: #138808;
$color-success-dark: #0f6c06;
$color-success-foreground: #e8f5e9;

$color-error: #ff4637;
$color-info: #6690e4;
$color-footer: #fffdf8;
