.mantine-Textarea-root {
  .mantine-Textarea-input {
    border: 1px solid $color-neutral--4 !important;
    padding: 1.2rem;
    border-radius: 0 !important;
    font-size: $font-size-14 !important;
    font-weight: 400 !important;
    color: $color-neutral--7 !important;
    background-color: $color-neutral--2 !important;

    &:focus {
      border-color: $color-orange !important;
    }

    &::placeholder {
      font-size: $font-size-14 !important;
      font-weight: 400 !important;
      color: $color-neutral--6;
    }

    &[data-error='true'] {
      border-color: $color-error !important;
      &:focus {
        border-color: $color-orange !important;
      }

      &::placeholder {
        font-size: $font-size-14 !important;
        font-weight: 400 !important;
        color: $color-neutral--6;
      }
    }

    &[data-valid='true'] {
      border-color: $color-success-dark !important;
      &:focus {
        border-color: $color-orange !important;
      }
    }

    &[data-disabled='true'] {
      border-color: $color-neutral--4;
      background: $color-neutral--2;
      color: $color-neutral--5;
      &::placeholder {
        color: $color-neutral--6;
      }
      &:focus {
        border-color: $color-neutral--4 !important;
      }
    }
  }

  .mantine-Textarea-label {
    @include body-2;
    color: $color-neutral--7;
    &[data-disabled='true'] {
      color: $color-neutral--5 !important;

      .mantine-Textarea-required {
        color: $color-neutral--5 !important;
      }
    }
  }

  .mantine-Textarea-error {
    font-size: $font-size-10;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 0.4rem;
    color: $color-error;
  }
}
